@import "helpers/variables"
@import "helpers/mixin"
@import "bootstrap"
@import "vendors/simple-line-icons.scss"
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700')


%transition-set
  +transition( all 0.5s ease-in-out)
%text-shadow
  text-shadow: 0px 1px 8px rgba(#000, 0.4)
%box-shadow
  box-shadow: 0px 1px 15px rgba(#000, 0.3)
%source-sans
  font-family: 'Source Sans Pro', sans-serif


//
body
  position: relative
  background-color: #FFF
  color: $dark
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: -apple-system, BlinkMacSystemFont,"Source Sans Pro", Roboto, 'Microsoft JhengHei', 'Helvetica Neue', Arial, sans-serif
  &.modal-open
    padding-right: 0px !important
a
  color: $dark
  text-decoration: none
  &:hover,&:focus,&:active,&.active
    color: $primary
    text-decoration: none
    outline: 0
  &.link-color
    color: $primary
    &:hover,&:focus,&:active,&.active
      color: $primary
      text-decoration: underline

.dropdown-menu
  border: 0
  margin: 0
  @extend %box-shadow
  a
    display: block
    &:hover
      color: $primary
      background-color: rgba($primary,0.1)


.pagination-container
  margin: 20px 0
.pagination
  margin: 0
  > li
    > a
      display: inline-block
      float: none
      // width: 34px
      height: 34px
      margin-left: 5px
      text-align: center
      &:hover ,&:active,&:focus
        background: lighten($primary, 30%)
        border-color: lighten($primary, 30%)
    &.actvie
      > a
        background: darken($primary, 15%)
        border-color: darken($primary, 15%)
    &.disabled
      > a
        &:hover , &:active,&:focus
          background: lighten( $gray-400, 20%)
          border-color: lighten( $gray-400, 20%)
.breadcrumb
  > li
    max-width: 200px
    display: inline-block


// Page Header
.sticky-wrapper
  &.is-sticky
    .page-header
      width: 100%
      position: fixed
      top: 0
      left: 0
      z-index: 1003 !important
      @extend %box-shadow

%menu-animation
  transition: all .3s ease-in-out
.page-header
  .navbar-nav
    @extend %source-sans
    font-weight: 400
    +font-size(16px)
    .nav-item
      position: relative
      &:hover
        .nav-link
          color: #FFF
          &::before
            height: 100%
            background: $gray-800
          &::after
            border-top-color: #FFF
            z-index: 32
            position: relative
    .nav-link
      color: $gray-800
      position: relative
      z-index: 10
      padding: .5rem 1rem
      @extend %menu-animation
      .text
        z-index: 30
        position: relative
      &::before
        @extend %menu-animation
        animation-delay: .2s
        content: ''
        display: block
        position: absolute
        height: 0
        width: 100%
        bottom: 0
        left: 0
        border-radius: $border-radius
        z-index: 0
      &::after
        @extend %menu-animation
      &.dropdown-toggle
        &::before
          border-radius: $border-radius $border-radius 0 0
    .dropdown-menu
      background: $gray-800
      border-radius: 0 $border-radius $border-radius $border-radius
      display: block
      opacity: 0
      visibility: hidden
      @extend %menu-animation
      box-shadow: 1px 3px 10px rgba(0,0,0,0.3)
      &.show
        opacity: 1
        visibility: visible
      .dropdown-item
        color: $gray-300
        +font-size(14px)
        padding: .35rem 1rem
        &:hover,&:focus
          color: #FFF
          background: transparent

#toTop
  position: fixed
  bottom: 40px
  right: 20px
  width: 46px
  height: 46px
  display: block
  // border: 2px solid $border-dark
  border-radius: 50%
  transition: all .3s ease-in-out
  background: rgba($primary, 0.5)
  z-index: 1981
  &:before
    position: absolute
    top: 18px
    left: 15px
    content: ''
    display: block
    width: 16px
    height: 16px
    border-left: 2px solid #FFF
    border-bottom: 2px solid #FFF
    transform: rotate(135deg)
    transition: all .3s ease-in-out
  &:hover,&:focus,&:active,&.active
    background: $primary
    &:before
      border-color: #FFF

.slick-slide
  img
    width: 100%
.slick-arrow
  position: absolute
  top: 50%
  text-indent: 999px
  overflow: hidden
  width: 50px
  height: 70px
  margin-top: -35px
  background: rgba(0,0,0,0.2)
  border: 0
  transform: translateY(-50%)
  z-index: 561
  &::after
    content: ''
    display: block
    border-left: 2px solid #FFF
    border-bottom: 2px solid #FFF
    transform: rotate(45deg)
    width: 32px
    height: 32px
    position: absolute
    top: 20px
    left: 20px
  &:hover,&:focus,&:active,&.active
    outline: 0
    background: $primary
    &::after
      border-color: #FFF

  &.slick-prev
    left: 0px
  &.slick-next
    right: 0px
    &::after
      right: 20px
      left: auto
      transform: rotate(225deg)
.slick-dots
  margin: 0
  text-align: center
  position: absolute
  bottom: 40px
  width: 100%
  > li
    display: inline-block
    &.slick-active
      > button
        background: $primary
        border-color: $primary
    > button
      width: 15px
      height: 15px
      background: transparent
      border: 2px solid #FFF
      border-radius: 50%
      padding: 0
      margin: 0 5px
      text-indent: -9999px
      overflow: hidden
      &:hover,&:focus,&:active,&.active
        outline: 0 !important
