meta(charset='utf-8')
meta(http-equiv='Cache-control' content='public')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
title EZ網銀行貸款專家
meta(name='keywords', content='房屋貸款,企業貸款,信用貸款,汽車貸款,債務協商,代書服務,青年創業貸款')
meta(name='description', content='EZ網銀行貸款專家，提供完整貸款規劃，個人信貸、房貸、債務協商，專人打造專屬貸款優惠利率與額度，讓您輕鬆搞定貸款大小事。')
meta(name='copyright', content='Copyright © 2017 BIGUAR MACHINE All Rights Reserved.')
meta(name='Author', content='ibiza.co')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-touch-fullscreen', content='yes')
link(rel='Shortcut Icon', type='image/x-icon', href='images/icon2.png')
meta(property='og:url', content='https://my-ezbank.com/')
meta(property='og:type', content='website')
meta(property='og:title', content='EZ網銀行貸款專家')
meta(property='og:description', content='EZ網銀行貸款專家，提供完整貸款規劃，個人信貸、房貸、債務協商，專人打造專屬貸款優惠利率與額度，讓您輕鬆搞定貸款大小事。')
meta(property='og:image', content='image/home-hero-1.jpg')

link(href='css/vendors.css', rel='stylesheet')
link(href='css/main.css', rel='stylesheet')
