doctype html
html(lang="zh-tw")
  head
    include partials/_head.jade
  body
    #page
      
      block header
      
      block content
      
      include partials/_footer.jade
      include partials/_mmenu.jade
    
  include partials/_script.jade
