extends _layout.jade

block header
  //- - var page = {current: 'contact.html' ,other: 'contact_en.html', lang: 'tw'}
  - var current = 'contact.html' 
  - var other = 'contact_en.html'
  - var lang = 'tw'
  include partials/_header.jade
  include partials/_baiduscript.jade
block content  
  section.contact
    .jumbotron.jumbotron-fluid
      .contact-wrapper
        .container
          .baidumap
            #allmap

  section.contact-intro
    .container
      .contact-intro-wrapper
        .row.justify-content-center.align-items-center
          .col-8.col-lg-4
            img.lazy(data-src='images/logo2.png', alt='')
          .col-12.col-lg-7.offset-lg-1
            hgroup.section-header
              h3
                | 堅持產品不斷創新與發展
                br
                | 保有因應市場變化的能力
                br
                | 成為行業領導者的企圖心
            .btn-wrap
              a(href='mailto:suport@biguar.net', target='_blank')
                button.btn.btn-danger.btn-lg.btn-block(type='button', name='button') 請將您的需求提供給我們
    .slide-wrap
      ul.process-slider-two
        li
          .item
            .bigaur-intro
              img.img-fluid(src='images/company-intro1.jpg', alt='')
        li
          .item
            .bigaur-intro
              img.img-fluid(src='images/06a.jpg', alt='')
        li
          .item
            .bigaur-intro
              img.img-fluid(src='images/08a.jpg', alt='')
        li
          .item
            .bigaur-intro
              img.img-fluid(src='images/34a.jpg', alt='')
        li
          .item
            .bigaur-intro
              img.img-fluid(src='images/35a.jpg', alt='')
        li
          .item
            .bigaur-intro
              img.img-fluid(src='images/39a.jpg', alt='')
        li
          .item
            .bigaur-intro
              img.img-fluid(src='images/50a.jpg', alt='')

  script(type='text/javascript').
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(120.151712,31.579179);
    map.centerAndZoom(point,12);
    map.enableScrollWheelZoom(true);
    var myGeo = new BMap.Geocoder();
    myGeo.getPoint("江苏省无锡市胡埭镇工业区莲杆路3号", function(point){
      if (point) {
        map.centerAndZoom(point, 16);
        map.addOverlay(new BMap.Marker(point));
      }else{
        alert("您选择地址没有解析到结果!");
      }
    }, "北京市");

  
