extends _layout.jade

block header
  - var current = 'index.html' 
  include partials/_header.jade

block content
  section.main-slider
    .container-fluid
      .row
        .col-8
          #heroBanner.banner-wrapper
            .item
              a(href='#')
                img.w-100(src='https://picsum.photos/1200/900/?random', alt='')
            .item
              a(href='#')
                img.w-100(src='https://picsum.photos/1200/900/?random', alt='')
            .item
              a(href='#')
                img.w-100(src='https://picsum.photos/1200/900/?random', alt='')
      
