
$gray-900:        #000;
$gray-800:        #222;
$gray-700:        #333;
$gray-600:        #434343;
$gray-500:        #737373;
$gray-400:        #ededed;

$primary:         #2c4db5;
$primary-light:   #13bbd6;
$success:         #5cb85c;
$info:            #03b0c0;
$warning:         #d0c610;
$danger:          #D13636;
