$gray-900:        #000000;
$gray-800:        #212224;
$gray-700:        #323335;
$gray-600:        #434343;
$gray-500:        #8E8E93;
$gray-400:        #9498A0;
$gray-300:        #C5C7CB;
$gray-200:        #E5E5EA;
$gray-100:        #EBECEF;

$primary:         #2D5EE3;
$success:         #0E8F1E;
$info:            #21A0C1;
$warning:         #d0c610;
$danger:          #F3273C;

$facebook:        #3b5998;
$twitter:         #00d0ff;
$youtube:         #ff0000;


$border-radius:   8px;
